.container {
    margin: 1%;
    height: 98vw;
    width: 99%;
    .menubar {
        height: 4vw;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #d8dae0;
        .menulist {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 300px;
                align-items: center;
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }

    }